<div class="row">

    <div class="col">

        <form>
            <!-- Campo del nombre usuario -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Usuario </label>
                <div class="col-sm-9">
                    <input type="text"
                        placeholder="Nombre del usuario"
                        required>
                </div>
            </div>
                <!-- Campo de la contraseña del usuario -->
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label"> Contraseña </label>
                    <div class="col-sm-9">
                        <input type="text"
                            placeholder="Contraseña"
                            required>
                </div>
            </div>


        </form>

    </div>


</div>