<div class="container">
    <form   (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
        <input  type="text" class="form-control block" ngModel  name="user" placeholder="Nombre del usuario" required>
        <input type="text" class="form-control block" ngModel name="password" placeholder="Contraseña" required>               
        <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-primary  block"> Acceder al Sistema </button>       
        <hr>
        <h6>Aún no has registrado tu servicio ?</h6>
        <button type="button" [routerLink]= "['/registro']" class="btn btn-warning block"> Registrar un Servicio </button>    
    </form>
</div>